#img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 300px;
    flex-direction: column;
    text-align: center;
    margin: 5px 20px 0px 20px;
}

#gal-img{
    min-height: 250px;
    box-shadow: 2px 2px 5px 2px rgb(117, 117, 117);
}

#box{
    padding: 20px 0px 20px 0px;
}